@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Pretendard";
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

label {
  padding: 0;
  margin: 0;
}

input {
  font-family: "Pretendard";
  letter-spacing: 0;
}

div::-webkit-scrollbar {
  width: 8px;
}
